html
	body
		h1 Student Details
		p #{studName}
		p #{regNo}
		p #{email}
		p(hidden = '') #{courses}
		ul
			each val, index in courses
				li= index + ":" + val
		p Course Name    Enroll     Unenroll

		form(action = "enrUnerDetails" method = "get")
			ul
				each val, index in courses
					li= val 
						input(type='submit' name = 'enroll:' + index)
						input(type='submit' name = 'unenroll:' + index)
